
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Debt Supervisor</a>
  <!--Button 1-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!--Button 2-->
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <!--Button 3-->
      <li class="nav-item">
        <a class="nav-link" href="/addDebt/">New Debt Form</a>
      </li>

      <li class = "nav-item">
         <a class="nav-link" href = "/afford/">Can I afford?</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/transaction/">Transaction</a>
      </li>
      {% if user.is_authenticated %}
      <!--Button 4-->
        <li>
          <a class="nav-link" href="/logout/">Logout</a>
        </li>
      {% else %}
        <!--Button 5-->
        <li>
          <a class="nav-link" href="/login/">Login</a>
        </li>
        <!-- Not Necessary
        <li class="nav-item">
          <a class="nav-link" href="/join/">Join</a>
        </li>
        -->
      {% endif %}
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
