<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="utf-8" />
    <title>Debt Supervisor Project</title>
    <script src="https://cdn.jsdelivr.net/gh/kimmobrunfeldt/progressbar.js/dist/progressbar.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/updateProfilePicture.css">
    <!--bootstrap includes-->
    {% include "bootstrap.html" %} {% load humanize %}
  </head>
  <body>
    {% include "navigation.html" %}
    <div class="container">

      <div class="row">
              <div class="col-4">
                <h1 style="text-align:center;">Welcome {{user.username}}!</h1>

                {% if user.userprofile.profilePic %}
                <div class="profile-pic">
                  <a href="{% url 'updateProfilePic' %}">
                    <img src="{{ user.userprofile.profilePic.url }}" class="rounded-circle" style="max-width: 280px; max-height: 280px;" />
                    <div class="profile-pic-overlay">
                      <span>Update Profile Picture</span>
                    </div>
                  </a>
                </div>
                {% else %}
                <div class="profile-pic">
                  <a href="{% url 'updateProfilePic' %}">
                    <img src="{% static 'user.png' %}" class="rounded-circle" style="max-width: 280px; max-height: 280px;" />
                    <div class="profile-pic-overlay">
                      <span>Update Profile Picture</span>
                    </div>
                  </a>
                </div>
                {% endif %}




      {%if table_data%}
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Credit Usage:</h5>
            <p class="card-text">
              {{total_balance|floatformat:2|intcomma}} /
              {{credit_limit|floatformat:2|intcomma}} USD
            </p>
            <div
              id="container"
              style="margin: 20px; width: 200px; height: 100px"
            ></div>
          </div>
        </div>
          <p>Tip: Keep credit usage to a minimum to increase credit score!</p>
        </div>
        <div class="col-8">
          <h1>My Debts</h1>
          {%for items in table_data%}

          <div class="card mb-3">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <h5 class="card-title">{{items.name}}</h5>
                <a href="/debt/edit/{{items.id}}" class="btn btn-light">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-pencil"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"
                    />
                  </svg>
                </a>
              </div>
              <p class="card-text">
                Current Balance: ${{items.currBalance|floatformat:2|intcomma}}
              </p>
              <p class="card-text">
                Total Available: ${{items.TotalBalance|floatformat:2|intcomma}}
              </p>
              <p class="card-text">Rate: {{items.apr|floatformat:2}}%</p>
              <p class="card-text">
                Minimum Payment: ${{items.minPayment|floatformat:2|intcomma}}
              </p>

              <p class="card-text">
                Months to Payoff with Minimum Payments:
                {{items.months_to_payoff|intcomma}}
              </p>
              <p class="card-text">
                Total Interest Paid with Minimum Payments:
                ${{items.total_interest|intcomma}}
              </p>
              <p class="card-text">Due Date: {{items.dueDate|date:"F j, Y"}}</p>

              <p>Usage:</p>
              <div class="progress">
                <div
                  class="progress-bar"
                  role="progressbar"
                  style="width: {{items.getProgress}}%"
                  aria-valuenow="{{items.getProgress}}"
                  aria-valuemin="0"
                  aria-valuemax="100"
                >
                  {{items.getProgress}}%
                </div>
              </div>
            </div>
          </div>

          {%endfor%}
        </div>
      </div>
      <br/>
      <div>
        <div class="row">
          <div class="col-12">
            <h2 class="text-center">Due Date Calendar</h2>
            <div id="calendar"></div>
          </div>
        </div>
      </div>
    </br>

      {%else%}
      <p>Please use New Debt Form to get started!</p>
      <button onclick="location.href='{% url 'addDebt' %}'">Add Debt</button>
      {% endif %}
    </div>
  </body>

  <script>
      var bar = new ProgressBar.SemiCircle(container, {
      strokeWidth: 6,
      color: '#00FF00',
      trailColor: '#eee',
      trailWidth: 1,
      easing: 'easeInOut',
      duration: 1400,
      svgStyle: null,
      text: {
        value: '',
        alignToBottom: false
      },
      from: {color: '#77fc03'},
      to: {color: '#fc2c03'},
      // Set default step function for all animate calls
      step: (state, bar) => {
        bar.path.setAttribute('stroke', state.color);
        var value = Math.round(bar.value() * 100);
        if (value === 0) {
          bar.setText('');
        } else {
          bar.setText(value+'%');
        }

        bar.text.style.color = state.color;
      }
    });
    bar.text.style.fontFamily = '"Raleway", Helvetica, sans-serif';
    bar.text.style.fontSize = '2rem';

    bar.animate({{cru|floatformat:2}});
  </script>

  <script>
    $(document).ready(function() {
      $('#calendar').fullCalendar({
        events: [
          {% for items in table_data %}
          {
            title: '{{items.name}}',
            start: '{{items.dueDate|date:"Y-m-d"}}T23:59:00',
            url: '/debt/edit/{{items.id}}'
          },
          {% endfor %}
        ]
      });
    });
  </script>
</html>
