<html>
    <head>
        {% include "bootstrap.html" %}
        {% load static %}
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <style>
            body {
                background-image: url('{% static "background/login.jpg" %}');
                background-repeat: no-repeat;
                background-size: cover;
            }
        </style>
    </head>
    <body>
        {% include "navigation.html" %}
        <div class="container join-container">
            <div class="jumbotron join-jumbotron">
                <h1>Join</h1>
                <form method = "POST">
                    {% csrf_token %}
                    <table>
                        {{ join_form.as_table }}
                        <tr><td>
                            <input type="submit" class="btn btn-primary" value = "Join"/>
                        </td></tr>
                    </table>
                </form>
            </div>
        </div>
    </body>
</html>
